.hero-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    float: right;
    height: 300px;
    width: 100%;
    margin-bottom: 0;
    background-image: url('../../public/images/hero-image.jpeg');
    background-size: cover;
    background-position: center;
  }